<template>
  <nav
    ref="navbar"
    class="
      w-full
      bg-blue-600
      text-gray-100
      flex
      justify-between
      items-center
      top-0
    "
  >
    <div class="px-4 font-semibold text-2xl">Quickspladmin</div>
    <button @click="logOut" class="p-4 hover:bg-blue-700">Log out</button>
  </nav>
</template>

<script>
import router from "../router/index";

export default {
  name: "Navbar",
  methods: {
    logOut() {
      this.axios
        .get("/logout")
        .then(() => {
          router.push({ name: "Login" });
        })
        .catch((err) => {
          console.error(err);
        });
    },
  },
};
</script>
