<template>
  <aside
    class="
      w-auto
      max-h
      bg-gray-200
      flex flex-row
      sm:flex-col
      overflow-x-auto overflow-y-visible
      sm:overflow-x-visible sm:overflow-y-auto
      flex-shrink-0
    "
  >
    <router-link to="/" class="p-4 transition hover:bg-gray-300"
      >Home</router-link
    >
    <router-link to="/keywords" class="p-4 transition hover:bg-gray-300"
      >Keywords</router-link
    >
    <router-link to="/feedback" class="p-4 transition hover:bg-gray-300"
      >Feedback</router-link
    >
    <router-link to="/stats" class="p-4 transition hover:bg-gray-300"
      >Stats</router-link
    >
    <router-link to="/importexport" class="p-4 transition hover:bg-gray-300"
      >Import/Export</router-link
    >
    <router-link to="/account" class="p-4 transition hover:bg-gray-300"
      >Account</router-link
    >
  </aside>
</template>

<script>
import router from "../router/index";

export default {
  name: "Navbar",
  methods: {
    logOut() {
      this.axios
        .get("/logout")
        .then(() => {
          router.push({ name: "Login" });
        })
        .catch((err) => {
          console.error(err);
        });
    },
  },
};
</script>

<style>
aside a.router-link-exact-active {
  @apply bg-gray-300;
}
</style>