<template>
  <footer class="flex flex-col justify-center p-16 text-center text-gray-100">
    <p>
      Created by
      <a href="https://andri.io" class="font-semibold text-green-500 transition hover:underline">Andri Soone</a>.
    </p>
    <p>
      Source code available at
      <a href="https://gitlab.com/undree/quicksplain" class="font-semibold text-green-500 transition hover:underline"
        >GitLab</a
      >.
    </p>
  </footer>
</template>
