<template>
  <div class="text-3xl sm:text-4xl font-semibold mb-4 flex flex-col items-center sm:flex-row">
    <img
      src="@/assets/quicksplain_white.svg"
      alt="quicksplain icon logo"
      class="mr-0 mb-4 h-20 sm:h-12 sm:mr-4 sm:mb-0"
    />
    <img src="@/assets/quicksplain_text.svg" alt="quicksplain text logo" class="h-16 pt-3 sm:h-12 px-3 sm:px-0" />
  </div>
</template>