<template>
  <div class="flex flex-col flex-grow overflow-x-hidden">
    <div class="bg-gray-200 w-full flex justify-between items-center">
      <h1 class="text-2xl font-semibold p-4 text-blue-700">Account</h1>
    </div>
    <div class="flex flex-col w-full">
      <div class="p-8 w-full sm:w-80 flex flex-col">
        <h2 class="text-xl font-semibold mb-3">Change password</h2>
        <label for="oldpassword" class="mb-1">Old password:</label>
        <input
          v-model="oldpassword"
          id="oldpassword"
          type="password"
          class="rounded-xl mb-3"
        />
        <label for="newpassword1" class="mb-1">New password:</label>
        <input
          v-model="newpassword1"
          id="newpassword1"
          type="password"
          class="rounded-xl mb-4"
        />
        <label for="newpassword2" class="mb-1">New password again:</label>
        <input
          v-model="newpassword2"
          id="newpassword2"
          type="password"
          class="rounded-xl mb-4"
        />
        <button
          @click="changePassword"
          class="
            p-3
            bg-green-500
            text-gray-100
            font-semibold
            rounded-xl
            transition
            hover:opacity-70
          "
        >
          Change password
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Account",
  data() {
    return {
      oldpassword: "",
      newpassword1: "",
      newpassword2: "",
    };
  },
  methods: {
    changePassword() {
      if (!this.oldpassword || !this.newpassword1 || !this.newpassword2) {
        return;
      }
      this.axios
        .post("/changepassword", {
          oldpassword: this.oldpassword,
          newpassword1: this.newpassword1,
          newpassword2: this.newpassword2,
        })
        .then((response) => {
          this.$dialog.alert("Success", response.data.message, "success");
          this.oldpassword = "";
          this.newpassword1 = "";
          this.newpassword2 = "";
        })
        .catch((err) => {
          console.error(err);
          this.$dialog.alert("Error", err.response.data.message, "error");
        });
    },
  },
};
</script>
