<template>
  <div class="flex flex-col flex-grow overflow-x-hidden overflow-y-hidden">
    <div class="bg-gray-200 w-full flex justify-between items-center">
      <h1 class="text-2xl font-semibold p-4 text-blue-700">Feedback</h1>
      <RefreshButton @buttonClick="getFeedbacks()" />
    </div>
    <div class="flex flex-grow sm:flex-row-reverse flex-col overflow-y-hidden">
      <div
        v-if="selectedFeedback"
        class="
          p-8
          flex flex-col flex-grow
          border-0
          min-w-full
          max-w-full
          overflow-y-auto
          sm:border-l-2
          sm:min-w-96
          sm:max-w-96
        "
      >
        <div class="flex items-start">
          <h2 class="whitespace-nowrap text-xl font-semibold">
            Feedback {{ selectedFeedback.id }}
          </h2>
          <FeedbackStatus
            :status="selectedFeedback.feedbackstatus"
            class="ml-2"
          />
          <button
            @click="selectedFeedback = null"
            class="ml-auto font-light text-xl px-3 transition hover:opacity-50"
          >
            ×
          </button>
        </div>
        <div class="whitespace-nowrap text-gray-400 italic mb-4">
          {{ selectedFeedback.timestamp | moment("YYYY-MM-DD HH:mm:ss") }}
        </div>
        <div class="whitespace-nowrap">
          <strong>Author: </strong>
          <span v-if="selectedFeedback.author">{{
            selectedFeedback.author.username
          }}</span>
          <span v-else class="italic">Anonymous player</span>
        </div>
        <div class="whitespace-nowrap">
          <strong>Reviewer:</strong>
          {{
            selectedFeedback.reviewer
              ? selectedFeedback.reviewer.username
              : "Not reviewed"
          }}
        </div>
        <div class="whitespace-nowrap">
          <strong>Turn ID:</strong>
          {{ selectedFeedback.turn ? selectedFeedback.turn.id : "Not in turn" }}
        </div>
        <div class="">
          <strong>Topic: </strong>
          <span v-if="selectedFeedback.topic">
            <span class="font-mono">{{ selectedFeedback.topic.name }}</span>
            (ID {{ selectedFeedback.topic.id }})
          </span>
          <span v-else>Not in game</span>
        </div>
        <div v-if="selectedFeedback.keyword" class="">
          <strong>Keyword: </strong>
          <span class="font-mono">{{ selectedFeedback.keyword.name }}</span>
          (ID {{ selectedFeedback.keyword.id }})
        </div>
        <h2
          class="my-3 pt-3 text-xl font-semibold whitespace-nowrap border-t-2"
        >
          {{ selectedFeedback.feedbacktype.name }}
        </h2>
        <div v-if="selectedFeedback.feedbacktype.id === 2">
          <div class="">
            <span class="font-mono text-green-500">{{
              selectedFeedback.newname
            }}</span>
          </div>
        </div>
        <div v-else-if="selectedFeedback.feedbacktype.id === 3">
          <div class="">
            <span class="font-mono text-red-500">{{
              selectedFeedback.oldname
            }}</span>
          </div>
        </div>
        <div v-else-if="selectedFeedback.feedbacktype.id === 4">
          <div class="flex flex-col justify-center items-start">
            <div class="font-mono text-red-500">
              {{ selectedFeedback.oldname }}
            </div>
            <div class="font-mono text-green-500">
              {{ selectedFeedback.newname }}
            </div>
          </div>
        </div>
        <div
          v-if="selectedFeedback.comment.trim()"
          :class="selectedFeedback.feedbacktype.id !== 1 ? 'mt-3' : ''"
        >
          <strong v-if="selectedFeedback.feedbacktype.id !== 1"
            >Comment:
          </strong>
          {{ selectedFeedback.comment }}
        </div>
        <div class="mt-3 pt-3 flex flex-row border-t-2">
          <button
            v-if="selectedFeedback.feedbackstatus.id === 1"
            @click="approveFeedback(selectedFeedback.id)"
            class="
              py-3
              px-4
              mr-2
              bg-green-500
              text-gray-100
              rounded-xl
              transition
              hover:opacity-70
            "
          >
            Approve
          </button>
          <button
            v-if="selectedFeedback.feedbackstatus.id === 1"
            @click="rejectFeedback(selectedFeedback.id)"
            class="
              py-3
              px-4
              mr-2
              bg-red-500
              text-gray-100
              rounded-xl
              transition
              hover:opacity-70
            "
          >
            Reject
          </button>
          <button
            v-if="
              selectedFeedback.feedbackstatus.id === 2 ||
              selectedFeedback.feedbackstatus.id === 3
            "
            @click="undoFeedback(selectedFeedback.id)"
            class="
              py-3
              px-4
              mr-2
              bg-yellow-600
              text-gray-100
              rounded-xl
              transition
              hover:opacity-70
            "
          >
            Undo
          </button>
        </div>
        <div v-if="selectedFeedback.topic" class="mt-3 pt-3 border-t-2">
          <h2 class="mb-3 text-xl font-semibold whitespace-nowrap">
            Keywords in topic
          </h2>
          <button
            @click="showKeywords = !showKeywords"
            class="
              py-3
              px-4
              mr-2
              mb-3
              bg-gray-200
              text-gray-600
              rounded-xl
              transition
              hover:opacity-70
            "
          >
            {{ showKeywords ? "- Hide" : "+ Show" }}
            topic keywords
          </button>
          <ul v-if="showKeywords" class="list-disc ml-4 text-sm w-auto">
            <li
              v-for="keyword in selectedFeedback.topic.keywords"
              :key="'keyword' + keyword.id"
              :class="keyword.enabled ? '' : 'line-through text-gray-400'"
            >
              {{ keyword.name }}
            </li>
          </ul>
        </div>
      </div>
      <div class="overflow-x-auto overflow-y-auto flex-grow">
        <table class="text-sm min-w-full">
          <thead>
            <tr class="uppercase">
              <th class="p-4 border-r-2 border-gray-200 bg-gray-200">ID</th>
              <th class="p-4 border-r-2 border-gray-200 bg-gray-200">Time</th>
              <th
                class="
                  p-4
                  border-r-2 border-gray-200
                  bg-gray-200
                  whitespace-nowrap
                "
              >
                Turn
              </th>
              <th
                class="p-4 border-r-2 border-gray-200 bg-gray-200"
                style="min-width: 12rem"
              >
                Topic
              </th>
              <th
                class="p-4 border-r-2 border-gray-200 bg-gray-200"
                style="min-width: 10rem"
              >
                Type
              </th>
              <th
                class="p-4 border-r-2 border-gray-200 bg-gray-200"
                style="min-width: 12rem"
              >
                Change
              </th>
              <th
                class="p-4 border-r-2 border-gray-200 bg-gray-200"
                style="min-width: 12rem"
              >
                Comment
              </th>
              <th class="p-4 border-r-2 border-gray-200 bg-gray-200">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="feedback in feedbacks"
              :key="'feedback' + feedback.id"
              @click="selectFeedback(feedback)"
              class="cursor-pointer transition"
              :class="
                selectedFeedback === feedback
                  ? ' bg-gray-200 hover:bg-gray-300'
                  : 'hover:bg-gray-100'
              "
            >
              <td class="p-4 border-r-2 border-gray-200 text-right">
                {{ feedback.id }}
              </td>
              <td class="p-4 border-r-2 border-gray-200 text-center text-xs">
                {{ feedback.timestamp | moment("YYYY-MM-DD") }}<br />{{
                  feedback.timestamp | moment("HH:mm:ss")
                }}
              </td>
              <td class="p-4 border-r-2 border-gray-200 text-right">
                {{ feedback.turn_id }}
              </td>
              <td class="p-4 border-r-2 border-gray-200">
                {{ feedback.topic ? feedback.topic.name : "-" }}
              </td>
              <td class="p-4 border-r-2 border-gray-200">
                {{ feedback.feedbacktype.name }}
              </td>
              <td class="p-4 border-r-2 border-gray-200">
                <span class="font-mono text-red-500">{{
                  feedback.oldname
                }}</span>
                <span
                  v-if="feedback.oldname && feedback.newname"
                  class="text-lg mx-1"
                  >→</span
                >
                <span v-if="!feedback.oldname && !feedback.newname">-</span>
                <span class="font-mono text-green-500">{{
                  feedback.newname
                }}</span>
              </td>
              <td class="p-4 border-r-2 border-gray-200">
                {{ feedback.comment }}
              </td>
              <td class="p-4 border-r-2 border-gray-200 text-center">
                <FeedbackStatus :status="feedback.feedbackstatus" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import FeedbackStatus from "../components/FeedbackStatus";
import RefreshButton from "../components/RefreshButton";

export default {
  name: "Feedback",
  components: { FeedbackStatus, RefreshButton },
  data() {
    return {
      feedbacks: [],
      selectedFeedback: null,
      showKeywords: false,
    };
  },
  mounted() {
    this.getFeedbacks();
  },
  methods: {
    getFeedbacks() {
      this.axios
        .get("/feedback/getfeedbacks")
        .then((feedbacks) => {
          this.feedbacks = feedbacks.data;
          this.feedbacks.sort((a, b) => b.id - a.id);
          if (this.selectedFeedback) {
            this.selectedFeedback = this.feedbacks.find(
              (feedback) => feedback.id === this.selectedFeedback.id
            );
          }
        })
        .catch((err) => {
          console.error(err);
        });
    },
    selectFeedback(feedback) {
      if (feedback === this.selectedFeedback) {
        this.selectedFeedback = null;
      } else {
        this.selectedFeedback = feedback;
      }
    },
    approveFeedback(feedbackID) {
      this.axios
        .put("/feedback/approvefeedback", { id: feedbackID })
        .then(() => this.getFeedbacks())
        .catch((err) => console.error(err));
    },
    rejectFeedback(feedbackID) {
      this.axios
        .put("/feedback/rejectfeedback", { id: feedbackID })
        .then(() => this.getFeedbacks())
        .catch((err) => console.error(err));
    },
    undoFeedback(feedbackID) {
      this.axios
        .put("/feedback/undofeedback", { id: feedbackID })
        .then(() => this.getFeedbacks())
        .catch((err) => console.error(err));
    },
  },
};
</script>
