<template>
  <div class="flex flex-col flex-grow overflow-x-hidden">
    <div class="bg-gray-200 w-full flex justify-between items-center">
      <h1 class="text-2xl font-semibold p-4 text-blue-700">Import/Export</h1>
    </div>
    <div class="p-8 flex flex-col w-full">
      <div class="mb-8 flex flex-col">
        <h2 class="text-xl font-semibold mb-3">Keywords CSV Export</h2>
        <p class="mb-3">
          This might take some time and the file may be several MiB in size.
        </p>
        <div class="flex items-center mb-3">
          <input
            id="includeDisabledExport"
            type="checkbox"
            v-model="includeDisabledExport"
            class="h-4 w-4"
          />
          <label for="includeDisabledExport" class="ml-2"
            >Include disabled</label
          >
        </div>
        <button
          @click="exportCSV"
          class="
            p-3
            w-full
            sm:w-80
            text-gray-100
            font-semibold
            rounded-xl
            transition
          "
          :class="
            loadingExport
              ? 'bg-yellow-500 cursor-wait'
              : 'bg-green-500 hover:opacity-70'
          "
          :disabled="loadingExport"
        >
          {{ loadingExport ? "Exporting..." : "Download CSV file" }}
        </button>
      </div>
      <div class="flex flex-col pt-8 mb-8 border-t-2 border-gray-200">
        <h2 class="text-xl font-semibold mb-3">Keywords CSV Import</h2>
        <p class="mb-3">
          This might take a very very long time, but please be patient.
        </p>
        <p class="mb-3">
          Duplicates will be ignored and
          <span class="font-mono">enabled</span> fields will be updated.
        </p>
        <div class="flex flex-col mb-3">
          <label for="csvFile" class="mr-2">CSV file:</label>
          <input
            @change="selectFile"
            id="csvFile"
            type="file"
            accept="text/csv"
          />
        </div>
        <button
          v-if="selectedFiles"
          @click="importCSV"
          class="
            p-3
            w-full
            sm:w-80
            text-gray-100
            font-semibold
            rounded-xl
            transition
          "
          :class="
            loadingImport
              ? 'bg-yellow-500 cursor-wait'
              : 'bg-green-500 hover:opacity-70'
          "
          :disabled="loadingImport"
        >
          {{ loadingImport ? "Importing..." : "Import CSV file" }}
        </button>
      </div>
      <div class="flex flex-col pt-8 border-t-2 border-gray-200">
        <h2 class="text-xl font-semibold mb-3">Example keywords CSV file</h2>
        <pre class="overflow-x-auto">
"category","category_enabled","topic","topic_enabled","keyword","keyword_enabled"
"Music Artists",true,"Neutral Milk Hotel",true,"Origin: Ruston, Louisiana, U.S.",true
"Music Artists",true,"Neutral Milk Hotel",true,"Song: In the Aeroplane Over the Sea",true
"Video Games",true,"Grand Theft Auto: San Andreas",true,"hot coffee mod",false
"Countries",false,"Mumbambu",true,"fictional",true</pre
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ImportExport",
  data() {
    return {
      includeDisabledExport: true,
      loadingExport: false,
      selectedFiles: null,
      loadingImport: false,
    };
  },
  methods: {
    exportCSV() {
      if (this.loadingExport) return;
      this.loadingExport = true;
      this.axios({
        url: "/importexport/export",
        method: "GET",
        responseType: "blob",
        params: { includeDisabled: this.includeDisabledExport },
      })
        .then((response) => {
          // const blob = new Blob([response.data], { type: "text/csv" });
          let link = document.createElement("a");
          link.href = window.URL.createObjectURL(response.data);
          link.download = "quicksplain_data.csv";
          link.click();
          this.loadingExport = false;
        })
        .catch((err) => {
          this.loadingExport = false;

          this.$dialog.alert(
            "Error",
            `There was an error exporting the CSV: ${err.response.data.message}`,
            "error"
          );
        });
    },
    selectFile(e) {
      this.selectedFiles = e.target.files;
    },
    importCSV() {
      if (this.loadingImport) return;
      if (!this.selectedFiles) return;

      let formData = new FormData();
      formData.append("csvFile", this.selectedFiles[0]);

      this.loadingImport = true;
      this.axios
        .post("/importexport/import", formData, {
          onUploadProgress: (progressEvent) =>
            console.log(progressEvent.loaded, "/", progressEvent.total),
        })
        .then((response) => {
          this.loadingImport = false;

          this.$dialog.alert(
            "Success",
            `Parsed ${response.data.data.rowCount} rows of CSV.
            Added ${response.data.data.newCategories} new categories, 
            ${response.data.data.newTopics} new topics and
            ${response.data.data.newKeywords} new keywords.`,
            "success"
          );
        })
        .catch((err) => {
          this.loadingImport = false;
          this.$dialog.alert(
            "Error",
            `There was an error importing the CSV: ${err.response.data.message}`,
            "error"
          );
        });
    },
  },
};
</script>
