<template>
  <div class="flex flex-col flex-grow overflow-x-hidden">
    <div class="bg-gray-200 w-full flex justify-between items-center">
      <h1 class="text-2xl font-semibold p-4 text-blue-700">Keywords</h1>
    </div>
    <div ref="keywordsbrowser" class="flex flex-row flex-grow overflow-x-auto">
      <div
        class="w-72 flex flex-col border-r-2 border-gray-200 overflow-y-auto"
        style="min-width: 18rem"
      >
        <div class="p-4 pb-1 bg-gray-200">
          <div class="font-semibold">
            Categories ({{
              enabledFilteredCategories.length !== filteredCategories.length
                ? enabledFilteredCategories.length +
                  " + " +
                  (filteredCategories.length - enabledFilteredCategories.length)
                : filteredCategories.length
            }})
          </div>
        </div>
        <div class="p-4 pt-1 bg-gray-200 text-xs">
          <input
            v-model="categoryFilter"
            type="text"
            placeholder="Filter"
            class="w-full p-2 rounded-md"
          />
        </div>
        <div
          @click="newCategory()"
          class="
            p-4
            cursor-pointer
            border-b-2 border-gray-200
            hover:bg-gray-100
            text-green-500
          "
          :class="
            selectedCategory && !selectedCategory.id
              ? ' bg-gray-200 hover:bg-gray-300'
              : ' hover:bg-gray-100'
          "
        >
          <span class="text-xl mr-2 font-bold">+</span>New category
        </div>
        <div
          v-for="category in filteredCategories"
          :key="'category' + category.id"
          @click="getCategory(category.id)"
          class="p-4 cursor-pointer transition border-b-2 border-gray-200"
          :class="
            selectedCategory && selectedCategory.id === category.id
              ? ' bg-gray-200 hover:bg-gray-300'
              : ' hover:bg-gray-100'
          "
        >
          <span :class="category.enabled ? '' : 'text-gray-400 line-through'">
            {{ category.name }}
          </span>
        </div>
      </div>
      <div
        v-if="selectedCategory"
        class="w-72 flex flex-col border-r-2 border-gray-200 overflow-y-auto"
        style="min-width: 18rem"
      >
        <div class="flex flex-col border-gray-200">
          <div class="p-4 bg-gray-200 flex justify-between">
            <span class="font-semibold">{{
              selectedCategory.id
                ? `Category ${selectedCategory.id}`
                : "New category"
            }}</span>
            <button
              @click="closeCategory()"
              class="pl-3 transition hover:opacity-50"
            >
              ×
            </button>
          </div>
          <div class="px-4 py-2">
            <label for="categoryName">Name:</label>
            <input
              id="categoryName"
              type="text"
              v-model="selectedCategory.name"
              class="rounded-md w-full"
            />
          </div>
          <div class="px-4 py-2">
            <label for="categoryEnabled" class="mr-2">Enabled:</label>
            <input
              id="categoryEnabled"
              type="checkbox"
              v-model="selectedCategory.enabled"
              class="h-4 w-4"
            />
          </div>
          <div class="px-4 pb-5 pt-2">
            <button
              v-if="!selectedCategory.id"
              @click="createCategory(selectedCategory)"
              class="
                p-3
                rounded-xl
                bg-green-500
                text-gray-100
                font-semibold
                w-full
                transition
                hover:opacity-70
              "
            >
              Create
            </button>
            <button
              v-else
              @click="updateCategory(selectedCategory)"
              class="
                p-3
                rounded-xl
                bg-green-500
                text-gray-100
                font-semibold
                w-full
                transition
                hover:opacity-70
              "
            >
              Update
            </button>
          </div>
        </div>
        <div v-if="selectedCategory.topics" class="flex flex-col">
          <div class="p-4 pb-1 bg-gray-200 font-semibold">
            Topics ({{
              enabledFilteredTopics.length !== filteredTopics.length
                ? enabledFilteredTopics.length +
                  " + " +
                  (filteredTopics.length - enabledFilteredTopics.length)
                : filteredTopics.length
            }})
          </div>
          <div class="p-4 pt-1 bg-gray-200 text-xs">
            <input
              v-model="topicFilter"
              type="text"
              placeholder="Filter"
              class="w-full p-2 rounded-md"
            />
          </div>
          <div
            v-if="selectedCategory.topics"
            @click="newTopic()"
            class="
              p-4
              cursor-pointer
              border-b-2 border-gray-200
              hover:bg-gray-100
              text-green-500
            "
            :class="
              selectedTopic && !selectedTopic.id
                ? ' bg-gray-200 hover:bg-gray-300'
                : ' hover:bg-gray-100'
            "
          >
            <span class="text-xl mr-2 font-bold">+</span>New topic
          </div>
          <div
            v-for="topic in filteredTopics"
            :key="'topic' + topic.id"
            @click="getTopic(topic.id)"
            class="p-4 transition cursor-pointer border-b-2 border-gray-200"
            :class="
              selectedTopic && selectedTopic.id === topic.id
                ? ' bg-gray-200 hover:bg-gray-300'
                : ' hover:bg-gray-100'
            "
          >
            <span :class="topic.enabled ? '' : 'text-gray-400 line-through'">
              {{ topic.name }}
            </span>
          </div>
        </div>
      </div>
      <div
        v-if="selectedTopic"
        class="w-72 flex flex-col border-r-2 border-gray-200 overflow-y-auto"
        style="min-width: 18rem"
      >
        <div class="flex flex-col border-gray-200">
          <div class="p-4 bg-gray-200 flex justify-between">
            <span class="font-semibold">{{
              selectedTopic.id ? `Topic ${selectedTopic.id}` : "New topic"
            }}</span>
            <button
              @click="closeTopic()"
              class="pl-3 transition hover:opacity-50"
            >
              ×
            </button>
          </div>
          <div class="px-4 py-2">
            <label for="topicName">Name:</label>
            <input
              id="topicName"
              type="text"
              v-model="selectedTopic.name"
              class="rounded-md w-full"
            />
          </div>
          <div class="px-4 py-2">
            <label for="topicEnabled" class="mr-2">Enabled:</label>
            <input
              id="topicEnabled"
              type="checkbox"
              v-model="selectedTopic.enabled"
              class="h-4 w-4"
            />
          </div>
          <div class="px-4 pb-5 pt-2">
            <button
              v-if="!selectedTopic.id"
              @click="createTopic(selectedTopic)"
              class="
                p-3
                rounded-xl
                bg-green-500
                text-gray-100
                font-semibold
                w-full
                transition
                hover:opacity-70
              "
            >
              Create
            </button>
            <button
              v-else
              @click="updateTopic(selectedTopic)"
              class="
                p-3
                rounded-xl
                bg-green-500
                text-gray-100
                font-semibold
                w-full
                transition
                hover:opacity-70
              "
            >
              Update
            </button>
          </div>
        </div>
        <div v-if="selectedTopic.keywords" class="flex flex-col">
          <div class="p-4 pb-1 bg-gray-200 font-semibold">
            Keywords ({{
              enabledFilteredKeywords.length !== filteredKeywords.length
                ? enabledFilteredKeywords.length +
                  " + " +
                  (filteredKeywords.length - enabledFilteredKeywords.length)
                : filteredKeywords.length
            }})
          </div>
          <div class="p-4 pt-1 bg-gray-200 text-xs">
            <input
              v-model="keywordFilter"
              type="text"
              placeholder="Filter"
              class="w-full p-2 rounded-md"
            />
          </div>
          <div
            v-if="selectedTopic.keywords"
            @click="newKeyword()"
            class="
              p-4
              cursor-pointer
              border-b-2 border-gray-200
              hover:bg-gray-100
              text-green-500
            "
            :class="
              selectedKeyword && !selectedKeyword.id
                ? ' bg-gray-200 hover:bg-gray-300'
                : ' hover:bg-gray-100'
            "
          >
            <span class="text-xl mr-2 font-bold">+</span>New keyword
          </div>
          <div
            v-for="keyword in filteredKeywords"
            :key="'keyword' + keyword.id"
            @click="setKeyword(keyword)"
            class="p-4 transition cursor-pointer border-b-2 border-gray-200"
            :class="
              selectedKeyword && selectedKeyword.id === keyword.id
                ? ' bg-gray-200 hover:bg-gray-300'
                : ' hover:bg-gray-100'
            "
          >
            <span :class="keyword.enabled ? '' : 'text-gray-400 line-through'">
              {{ keyword.name }}
            </span>
          </div>
        </div>
      </div>
      <div
        v-if="selectedKeyword"
        class="w-72 flex flex-col border-r-2 border-gray-200 overflow-y-auto"
        style="min-width: 18rem"
      >
        <div class="flex flex-col border-gray-200">
          <div class="p-4 bg-gray-200 flex justify-between">
            <span class="font-semibold">{{
              selectedKeyword.id
                ? `Keyword ${selectedKeyword.id}`
                : "New keyword"
            }}</span>
            <button
              @click="closeKeyword()"
              class="pl-3 transition hover:opacity-50"
            >
              ×
            </button>
          </div>
          <div class="px-4 py-2">
            <label for="keywordName">Name:</label>
            <input
              id="keywordName"
              type="text"
              v-model="selectedKeyword.name"
              class="rounded-md w-full"
            />
          </div>
          <div class="px-4 py-2">
            <label for="keywordEnabled" class="mr-2">Enabled:</label>
            <input
              id="keywordEnabled"
              type="checkbox"
              v-model="selectedKeyword.enabled"
              class="h-4 w-4"
            />
          </div>
          <div class="px-4 pb-5 pt-2">
            <button
              v-if="!selectedKeyword.id"
              @click="createKeyword(selectedKeyword)"
              class="
                p-3
                rounded-xl
                bg-green-500
                text-gray-100
                font-semibold
                w-full
                transition
                hover:opacity-70
              "
            >
              Create
            </button>
            <button
              v-else
              @click="updateKeyword(selectedKeyword)"
              class="
                p-3
                rounded-xl
                bg-green-500
                text-gray-100
                font-semibold
                w-full
                transition
                hover:opacity-70
              "
            >
              Update
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Keywords",
  data() {
    return {
      categories: [],
      categoryFilter: "",
      selectedCategory: null,
      topicFilter: "",
      selectedTopic: null,
      keywordFilter: "",
      selectedKeyword: null,
    };
  },
  mounted() {
    this.getCategories();
  },
  methods: {
    scrollToRight() {
      this.$nextTick(() => {
        this.$refs.keywordsbrowser.scrollBy({
          top: 10000,
          left: 10000,
          // behavior: "smooth",
        });
      });
    },
    getCategories() {
      this.axios
        .get("/keywords/getcategories")
        .then((categories) => {
          this.categories = categories.data;
        })
        .catch((err) => {
          console.error(err);
        });
    },
    getCategory(categoryID) {
      this.closeTopic();
      this.topicFilter = "";
      if (this.selectedCategory && categoryID === this.selectedCategory.id) {
        this.closeCategory();
      } else {
        this.axios
          .get("/keywords/getcategorywithtopics", {
            params: { id: categoryID },
          })
          .then((category) => {
            this.selectedCategory = category.data;
            this.scrollToRight();
          })
          .catch((err) => {
            console.error(err);
          });
      }
    },
    getTopic(topicID) {
      this.closeKeyword();
      this.keywordFilter = "";
      if (this.selectedTopic && topicID === this.selectedTopic.id) {
        this.closeTopic();
      } else {
        this.axios
          .get("/keywords/gettopicwithkeywords", { params: { id: topicID } })
          .then((topic) => {
            this.selectedTopic = topic.data;
            this.scrollToRight();
          })
          .catch((err) => {
            console.error(err);
          });
      }
    },
    setKeyword(keyword) {
      if (this.selectedKeyword && keyword.id === this.selectedKeyword.id) {
        this.closeKeyword();
      } else {
        this.selectedKeyword = { ...keyword };
        this.scrollToRight();
      }
    },
    closeCategory() {
      this.selectedCategory = null;
      this.topicFilter = "";
      this.closeTopic();
    },
    closeTopic() {
      this.selectedTopic = null;
      this.keywordFilter = "";
      this.closeKeyword();
    },
    closeKeyword() {
      this.selectedKeyword = null;
    },
    updateCategory(category) {
      const categoryClone = { ...category };
      delete categoryClone.topics;
      this.axios
        .put("/keywords/updatecategory", { category: categoryClone })
        .then(() => {
          this.categories = this.categories.map((category) =>
            category.id === categoryClone.id ? categoryClone : category
          );
          this.$dialog.alert(
            "Success",
            `Category ${categoryClone.id} updated!`,
            "success"
          );
        })
        .catch((err) => {
          console.error(err);
          this.$dialog.alert(
            "Error",
            `There was an error updating the category: ${err.response.data.message}`,
            "error"
          );
        });
    },
    updateTopic(topic) {
      const topicClone = { ...topic };
      delete topicClone.keywords;
      this.axios
        .put("/keywords/updatetopic", { topic: topicClone })
        .then(() => {
          this.selectedCategory.topics = this.selectedCategory.topics.map(
            (topic) => (topic.id === topicClone.id ? topicClone : topic)
          );
          this.$dialog.alert(
            "Success",
            `Topic ${topicClone.id} updated!`,
            "success"
          );
        })
        .catch((err) => {
          console.error(err);
          this.$dialog.alert(
            "Error",
            `There was an error updating the topic: ${err.response.data.message}`,
            "error"
          );
        });
    },
    updateKeyword(keyword) {
      this.axios
        .put("/keywords/updatekeyword", { keyword: keyword })
        .then(() => {
          this.selectedTopic.keywords = this.selectedTopic.keywords.map((kw) =>
            kw.id === keyword.id ? keyword : kw
          );
          this.$dialog.alert(
            "Success",
            `Keyword ${keyword.id} updated!`,
            "success"
          );
        })
        .catch((err) => {
          console.error(err);
          this.$dialog.alert(
            "Error",
            `There was an error updating the keyword: ${err.response.data.message}`,
            "error"
          );
        });
    },
    newCategory() {
      if (this.selectedCategory && !this.selectedCategory.id) {
        this.selectedCategory = null;
      } else {
        this.selectedTopic = null;
        this.selectedKeyword = null;
        this.selectedCategory = {
          name: "",
          enabled: true,
        };
        this.scrollToRight();
      }
    },
    createCategory(category) {
      if (!category.name) {
        return;
      }
      this.axios
        .put("/keywords/createcategory", { category: category })
        .then((response) => {
          this.$dialog.alert(
            "Success",
            `Category ${response.data.category.id} created!`,
            "success"
          );
          this.closeCategory();
          this.getCategories();
        })
        .catch((err) => {
          console.error(err);
          this.$dialog.alert(
            "Error",
            `There was an error creating the category: ${err.response.data.message}`,
            "error"
          );
        });
    },
    newTopic() {
      if (this.selectedTopic && !this.selectedTopic.id) {
        this.selectedTopic = null;
      } else {
        this.selectedKeyword = null;
        this.selectedTopic = {
          name: "",
          enabled: true,
        };
        this.scrollToRight();
      }
    },
    createTopic(topic) {
      if (!topic.name) {
        return;
      }
      topic.category_id = this.selectedCategory.id;
      this.axios
        .put("/keywords/createtopic", { topic: topic })
        .then((response) => {
          this.$dialog.alert(
            "Success",
            `Topic ${response.data.topic.id} created!`,
            "success"
          );
          this.closeCategory();
          this.getCategory(response.data.topic.category_id);
        })
        .catch((err) => {
          console.error(err);
          this.$dialog.alert(
            "Error",
            `There was an error creating the topic: ${err.response.data.message}`,
            "error"
          );
        });
    },
    newKeyword() {
      if (this.selectedKeyword && !this.selectedKeyword.id) {
        this.selectedKeyword = null;
      } else {
        this.selectedKeyword = {
          name: "",
          enabled: true,
        };
        this.scrollToRight();
      }
    },
    createKeyword(keyword) {
      if (!keyword.name) {
        return;
      }
      keyword.topic_id = this.selectedTopic.id;
      this.axios
        .put("/keywords/createkeyword", { keyword: keyword })
        .then((response) => {
          this.$dialog.alert(
            "Success",
            `Keyword ${response.data.keyword.id} created!`,
            "success"
          );
          this.closeTopic();
          this.getTopic(response.data.keyword.topic_id);
        })
        .catch((err) => {
          console.error(err);
          this.$dialog.alert(
            "Error",
            `There was an error creating the keyword: ${err.response.data.message}`,
            "error"
          );
        });
    },
    enabledThings(things) {
      return things.filter((thing) => thing.enabled);
    },
  },
  computed: {
    filteredCategories() {
      return this.categories.filter(
        (category) =>
          (category.name + " " + category.id).search(
            new RegExp(this.categoryFilter, "i")
          ) !== -1
      );
    },
    filteredTopics() {
      return this.selectedCategory.topics.filter(
        (topic) =>
          (topic.name + " " + topic.id).search(
            new RegExp(this.topicFilter, "i")
          ) !== -1
      );
    },
    filteredKeywords() {
      return this.selectedTopic.keywords.filter(
        (keyword) =>
          (keyword.name + " " + keyword.id).search(
            new RegExp(this.keywordFilter, "i")
          ) !== -1
      );
    },
    enabledFilteredCategories() {
      return this.enabledThings(this.filteredCategories);
    },
    enabledFilteredTopics() {
      return this.enabledThings(this.filteredTopics);
    },
    enabledFilteredKeywords() {
      return this.enabledThings(this.filteredKeywords);
    },
  },
};
</script>
