<template>
  <div class="bg-blue-600 w-full min-h-screen flex justify-center items-center">
    <div class="flex flex-col max-w-md w-80 p-4">
      <h1 class="text-gray-100 text-2xl font-medium text-center mb-6">
        Quickspladmin login
      </h1>
      <label for="username" class="sr-only">Username:</label>
      <input
        @keydown.enter="logIn"
        v-model="username"
        id="username"
        type="text"
        name="username"
        placeholder="Username"
        class="w-full p-3 rounded-xl text-gray-800 mb-3"
      />
      <label for="password" class="sr-only">Password:</label>
      <input
        @keydown.enter="logIn"
        v-model="password"
        id="password"
        type="password"
        name="password"
        placeholder="Password"
        class="w-full p-3 rounded-xl text-gray-800 mb-3"
      />
      <button
        @click="logIn"
        class="
          w-full
          py-3
          rounded-xl
          hover:opacity-80
          font-bold
          text-gray-100
          bg-green-500
        "
      >
        Login
      </button>
    </div>
  </div>
</template>

<script>
import router from "../router/index";

export default {
  name: "Login",
  data() {
    return {
      username: "",
      password: "",
    };
  },
  methods: {
    logIn() {
      if (!this.username || !this.password) {
        return;
      }
      this.axios
        .post("/login", {
          username: this.username,
          password: this.password,
        })
        .then(() => {
          router.push({ name: "Home" });
        })
        .catch((err) => {
          this.$dialog.alert("Login error", err.response.data.message, "error");
        });
    },
  },
};
</script>
