<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <link type="text/css" rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <title>Quicksplain!</title>
    <meta
      name="description"
      content="Quicksplain is a free party trivia game for groups of 2 to 8 people that tests your knowledge on a variety of topics."
    />
    <meta
      name="keywords"
      content="quicksplain, quixplain, explanation game, quickly explaining topics, online game, trivia game, couch game, party game, best party games, family activity, game night, board games, birthday party games, free multiplayer games, fun, idea, for nerds"
    />
    <meta name="author" content="Andri Soone" />
    <meta property="og:title" content="Quicksplain! - Are you a better explainer than your friends?" />
    <meta property="og:type" content="game" />
    <meta property="og:url" content="https://quicksplain.com/" />
    <meta property="og:image" content="https://quicksplain.com/opengraph.png" />
    <meta
      property="og:description"
      content="Quicksplain is a free party trivia game for groups of 2 to 8 people that tests your knowledge on a variety of topics."
    />
  </head>
  <body class="bg-blue-600">
    <noscript>
      <strong>
        We're sorry, but Quicksplain doesn't work properly without JavaScript enabled. Please enable it to continue.
      </strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
